<div class="grid grid-cols-4 gap-3">
    <div class="">
        <app-side-bar></app-side-bar>
    </div>
    <div class="col-span-3">
        <app-card>
            <card-title>
                <h4 class="text-lg font-bold">Compose Messages</h4>
            </card-title>
            <card-body>
                <form>
                    <div class="form-group mb-3">
                        <label class="form-label">Email Address <span>*</span> </label>
                        <input class="form-control" type="email" name="" id="" placeholder="Email Address">
                    </div>
                    <div class="form-group  mb-3">
                        <label class="form-label">Password <span>*</span> </label>
                        <textarea class="form-control" type="password" name="" id="" placeholder="Password"></textarea>
                    </div>
                    <button class="btn btn-blue "> Login</button>
                </form>
            </card-body>
        </app-card>
    </div>
</div>