<div class="grid grid-cols-4 gap-3">
    <div class="">
        <app-side-bar></app-side-bar>
    </div>
    <div class="col-span-3">
        <app-card>
            <card-title>
                <h4 class="text-lg font-bold">Compose Messages</h4>
            </card-title>
            <card-body>
                <form>
                    <div class="form-group mb-3">
                        <label class="form-label">To<span>*</span> </label>
                        <input class="form-control" type="email" name="" id="" placeholder="To">
                    </div>
                    <div class="form-group mb-3">
                        <label class="form-label">Subject <span>*</span> </label>
                        <input class="form-control" type="email" name="" id="" placeholder="Subject">
                    </div>
                    <div class="form-group  mb-3">
                        <label class="form-label">Password <span>*</span> </label>
                        <textarea class="form-control" rows="10" type="password" name="" id="" placeholder="Message"></textarea>
                    </div>
                    <button class="btn btn-blue "> Send Message</button>
                </form>
            </card-body>
        </app-card>
    </div>
</div>